.loadingBox {
    width: 600px;
    height: 350px;
    text-align: center;
    line-height: 330px;
    background-color: #FFFFFF;
}

.loadingImg {
    width: 270px;
    height: 180px;
}

.commentArea{
    margin: 5px 0 5px 20px;
    display: flex;
}
.comment{
    margin: 10px 0px;
    font-size: 18px;
    font-family: 'KNUTRUTHTTF';
    color:#484a4b;
}
.saveBtn{
    width: 70px;
    height: 32px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: 20px;
    border : 3px solid #b4dff5;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #1facf3;
    font-family: 'KNUTRUTHTTF';
}

.saveBtn:hover {
    background-color: rgba(31, 172, 243, .1);
}

.conditionArea{
    width: auto;
    height: 240px;
    padding: 0 10px;
    background-size: 600px 240px;
    background-image: url("../../../public/images/travelPath/travel.jpg");
    isolation: isolate;
    position: relative;
}

.conditionArea:after {
  content: '';
  position: absolute;
  background: white;
  z-index: -1;
  inset: 0;
  opacity: 0.5;
}

.conditions{
    font-size: 14px;
    font-weight: bold;
    color:#484a4b;
}

.resultArea{
    width: 600px;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1px;
    padding: 35px 0 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    background: rgb(252,242,236);
    background: linear-gradient(149deg, rgba(252,242,236,1) 0%, rgba(250,255,254,1) 30%, rgba(255,255,255,1) 64%, rgba(226,250,255,1) 100%);

}
.resultArea::-webkit-scrollbar{
    display: none;
}

.listBox {
    border : 1px solid rgb(241 245 249);
    border-radius : 30px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 23px rgba(0, 0, 0, 0.1);
    font-family: 'Orbit-Regular';
    width : 450px;
    height: auto;
    padding: 20px 20px;
    margin-bottom: 40px;
}

.results {
    width: 600px;
}

.calendar {
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 2.3px;
    margin-right: 10px;
}

.date{
    font-family: 'Orbit-Regular';
    cursor: default;
}

.highlight{
    display: inline;
    box-shadow: inset 0 -10px 0 #fafad2;
}

.divider{
    color: #a4deb6;
}

.content{
    width: auto;
    font-family: 'Orbit-Regular';
    outline: 0px solid transparent;
    padding-top: 7px;
}

@font-face {
    font-family: 'KNUTRUTHTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/KNUTRUTHTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Orbit-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
