.top {
    height: 70px;
}

.subBody {
    font-family: 'Giants-Bold';
    height: calc(var(--vh, 1vh) * 81);
    overflow: auto;
    position: relative;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.subBody::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.category {
    width: 400px;
    text-align: center;
    margin: 20px auto 15px auto;
}

.categoryBtn {
    width: 95px;
    height: 33px;
    margin: 0 7px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    color: black;
    background-color: #DBDBDB;
}

.categoryBtn:hover {
    background-color: #ADCDFD;
}

.selected {
    width: 95px;
    height: 33px;
    margin: 0 7px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    color: black;
    background-color: #ADCDFD;
}

.dropDownBox {
    position: absolute;
    top: 20px;
    right: 25px;
}

.alertBox {
    text-align: center;
    margin-top: 100px;
}

.alertImg {
    width: 170px;
    height: 170px;
}

.alertMessage {
    color: #989898;
    font-size: 19px;
}

.goBackBtn {
    width: 100px;
    height: 37px;
    background-color: #c0c0c0;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    color: black;
}

.goBackBtn:hover {
    background-color: darkgrey;
}

.loadingBox {
    width: 600px;
    height: 350px;
    text-align: center;
    line-height: 330px;
    margin-top: 100px;
}

.loadingImg {
    width: 300px;
    height: 200px;
}

@font-face {
    font-family: 'Giants-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}