.train {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 265px;
    margin: 0 auto;
}

.show {
    width: 600px;
    height: 265px;
    flex-shrink: 0; /*이 구역안에 생기는 영역들이 공간을 분배하여 가지지 않도록 적용*/
    font-size: 40px;
    text-align: center;
}

.picture {
    width: 600px;
    height: 265px;
}