.container{
    text-align: center;
}

.top {
    height: 70px;
}

.headliner {
    margin-top: 70px;
    font-family: 'LOTTERIACHAB';
    font-size: 30px;
    letter-spacing: 3px;
    color: #8BBDFF;
}

.img {
    margin-top: 50px;
}

.btn {
    margin-top: 80px;
}

.kakaoLogin {
    width: 100%;
    max-width: 350px;
}

.emailLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    max-width: 350px;
    margin: 20px auto;
}

.emailInput {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}

.emailLoginButton {
    width: 25%;
    box-sizing: border-box;
    text-align: center;
}

.customButtonColor {
    background-color: #8BBDFF;
    border-color: #8BBDFF;
    color: white;
}

.customButtonColor:hover {
    background-color: #7aa9e0;
    border-color: #7aa9e0;
}

@font-face {
    font-family: 'LOTTERIACHAB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}